/* A general stylesheet for the SSAC website */

/* Adjustment for the fixed-top navbar */
body {
	padding-top: 20px;
}

/* Navbar styles */
.navbar-brand {
	padding-top: 0px;
}

.navbar-brand img {
	height: 50px;
}

.navbar-collapse {
	font-size: 20px;
}

#navbar-tabs>li>a {
	padding-left: 20px;
	padding-right: 20px;
}

/* Additional padding to the bottom of the main content */
#content {
	padding-bottom: 2em;
}

/* Styles for rounded buttons */
.btn-round {
	border-radius: 0.5em;
}

/* Home page officers list */
.officers-list {
	padding-left: 0px;
	list-style-type: none;
	text-align: center;
}

/* Member profiles bullet list */
.profile-name {
	margin-top: 0px;
}

.post-list {
	list-style-type: disc;
}

.members-list {
	list-style-type: none;
}

.members-list>li {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.members-list>li>a {
	margin-top: 20px;
	color: #000000;
}

.selected-member {
	border-left-color: #000000;
	border-left-style: solid;
	border-left-width: 2px;
}

.selected-member>a {
	font-weight: bold;
}

/* Styles for data challenges */
.challenge-title {
	margin-top: 0px;
}

.download-title {
	text-decoration: underline;
	margin-top: 0px;
}

.file-link {
	margin: 2px;
	border-color: #bd2031;
	border-style: solid;
	color: #000000;
}

.file-link:hover {
	color: #bd2031;
	background-color: #eeeeee
}

.file-link img {
	max-height: 16px;
	max-width: 16px;
}

/* Contact page styles */
.contact-listing {
	margin-top: 20px;
	margin-bottom: 20px;
}